<tr>
    <td style="padding:30px;background:#ee4c50;">
        <table role="presentation"
            style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;">
            <tr>
                <td style="padding:0;width:50%;" align="left">
                    <p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;">
                        &reg; Someone, Somewhere 2021<br /><a href="http://www.example.com"
                            style="color:#ffffff;text-decoration:underline;">Unsubscribe</a>
                    </p>
                </td>
                <td style="padding:0;width:50%;" align="right">
                    <table role="presentation" style="border-collapse:collapse;border:0;border-spacing:0;">
                        <tr>
                            <td style="padding:0 0 0 10px;width:38px;">
                                <a href="http://www.twitter.com/" style="color:#ffffff;"><img
                                        src="https://assets.codepen.io/210284/tw_1.png" alt="Twitter" width="38"
                                        style="height:auto;display:block;border:0;" /></a>
                            </td>
                            <td style="padding:0 0 0 10px;width:38px;">
                                <a href="http://www.facebook.com/" style="color:#ffffff;"><img
                                        src="https://assets.codepen.io/210284/fb_1.png" alt="Facebook" width="38"
                                        style="height:auto;display:block;border:0;" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>